<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85292377389-3c4jhrakbhhmk4rlskn066urv6bk3bf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85292377389-3c4jhrakbhhmk4rlskn066urv6bk3bf2</string>
	<key>API_KEY</key>
	<string>AIzaSyAyhAW-fq3Jt8sNjVZ4TSmw2RNOyJwjJfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>85292377389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.FirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>test-d199b</string>
	<key>STORAGE_BUCKET</key>
	<string>test-d199b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85292377389:ios:025f0ff12847c917805fa4</string>
</dict>
</plist>